/* Color Pallette:
Dark Shades: #10256D;
Dark Accent: #2155A9;
Main Brand: #66A8E3;
Light Accent: #6E88CB;
Light Shade: #EDEFF5;
*/


body {
    background-color: #364c85;
    text-align: center;
    font-family: Georgia;
}
h1,h2 {
    font-size: 18px;
    color: #2155A9;
}
li {
    text-align: left;
    list-style: none;
}
section {
    color: #EDEFF5;
}
strong {
    color: #10256D;

}
p,li {
    font-size: 12px;
}
.Profile {
    width:80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
}
.column {
    float:left;
    width: 31.8%;
    margin: 3px;
    max-width: 100%;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.row2 {
    display:flex;
    justify-content: center;
}
.row {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    max-width: fit-content;
    
}
.card { 
    background-color: #66A8E3;
    border-radius: 10px;
    padding: 2px;
}
.navbar {
    display: flex;
    justify-content: center;
}
.navbar2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2155A9;
    border-radius: 10px;
    width: 310px;
    border: 2px solid #EDEFF5;
}
.link a {
    display: block;
    color: #66A8E3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.link {
    float: left;
}

.link a:hover {
    background-color: #EDEFF5;
    color:#10256D;
}
.navti {
    color: #66A8E3;
}
input,textarea {
    border-radius: 5px;
}

input:focus {
    background-color: lightblue;
}
.Banner {
    width: 100%;
    height: 100px;
}
.gif {
    width: 200px;
    height: 270px;
    float:left;
    border-radius: 10px;
}
#submit {
    background-color: #10256D;
    color:#EDEFF5;
}
#submit:hover {
    background-color: #EDEFF5;
    color:#10256D;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form {
    margin: 10px;
}