/* Color Pallette:
Dark Shades: #10256D;
Dark Accent: #2155A9;
Main Brand: #66A8E3;
Light Accent: #6E88CB;
Light Shade: #EDEFF5;
*/


body {
    background-color: #6E88CB;
    text-align: center;
    font-family: Georgia;
}
h1,h2 {
    font-weight: 1000;
    font-size: 24px;
    color: #2155A9;
}
section {
    color: #EDEFF5;
}
strong {
    color: #10256D;
}
#Hard-Skill,#Soft-Skill {
    background-color: #66A8E3;
}
p,li {
    font-size: 18px;
}
li {
    list-style: none;
}
img {
    width:50%;
}
.navdirectory {
    color: #EDEFF5;
}
.navdirectory li {
    list-style: none;
    margin: 0;
    padding: 0;

}